/* You can add global styles to this file, and also import other style files */
body {
    overflow: hidden;
    font-family: 'Arial', 'Verdana', 'Sans-Serif';
}

#titulo {
    padding: 1% 0% 1% 1%;
    /*text-shadow: 2px 2px 2px purple, 2px 2px 2px #CCC;*/
}

#cuerpo {
    height: 90%;
}
#sidebar {
    padding-top: 1%;
    padding-right: 5%;
    padding-left: 1%;
}

#main {
    padding-left: 5%;
    max-height: 80%;
    overflow-y: scroll;
}

li {
    margin-top: 2px;
    color: rgb(20, 6, 100);
}

#foot {
    padding: 0.5% 0% 0.5% 1%;
}