/* You can add global styles to this file, and also import other style files */
body {
    display: -webkit-flex;
    display:         flex;
    font-family: 'Arial', 'Verdana', 'Sans-Serif';
}
.app-body{
    display: inline-flex;
}
.app-header{
    flex-direction: row;
}
#cuerpo {
    height: 90%;
}
#sidebar {
    padding-top: 1%;
    padding-right: 5%;
    padding-left: 1%;
    position: relative;
}

#main {
    display: flex;
    padding-left: 5%;
    height: 100%;
    overflow: hidden;
}

li {
    margin-top: 2px;
    color: rgb(20, 6, 100);
}
/*GENERALES*/
.clearfix{
    float:none;
    clear:both;
}